* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: whitesmoke;
}
form{
  text-align: center !important;
  margin: auto !important;
}
form button{
  padding: 8px 20px !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*------------------------------------header---------------------------------*/

header{
  background-color: #6717f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
}
header h2{
  text-transform: capitalize;
}
header ul li{
  font-size: 1.1rem;
  padding-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*---------------------------create_contact---------------------------*/

.create_contact{
  min-height: 87vh;
  max-width: 700px;
}

/*-----------------------list--------------------*/

.list{
  min-height: 87vh;
}
thead{
  background-color: #FF1493;
  color: white;
}
td{
  text-transform: capitalize;
}
.action{
  opacity: 0;
}
tr:hover .action{
  opacity: 1;
}
tr i{
  font-size: 20px;
  color: rgb(43, 43, 43);
}
i{
  cursor: pointer;
}
.list_detail{
  padding-top: 15px !important;
}
.form-check-input{
  margin-top: 15px !important;
}
.heading{
  display: flex;
  justify-content: space-between;
}
.heading button{
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.heading h3{
  text-transform: capitalize;
}

/*-----------------------footer--------------------*/

footer{
  background-color: #6717f3;
  color: white;
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 720px) {
  .action{
    opacity: 1;
  }
}